* html,
body {
  margin: 0px;
  padding: 0px;
}
body {
  height: auto;
  width: auto;
}

header {
  height: 0px;
  line-height: 50px;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: black;
}
.secondary {
  background-color: darkturquoise;
  box-shadow: 0px 0px 17px 0px;
  transition: all 0.5s ease-in;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
}
header nav {
  float: right;
}
.logo img {
  height: 50px;
  line-height: 50px;
}

header nav ul li a {
  padding-right: 10px;
  font-weight: bold;
  color: white;
  transition: all 0.4s ease-in;
}
header nav ul li a:hover {
  text-decoration: none;
  color: red;
}
.img1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)),
    url(../Images/slide1.jpg);
  background-size: 100% 100%;
  margin: 0px;
}

.img2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url(../Images/logo2.jpg);
  background-size: 100% 100%;
  margin: 0px;
}

.img3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
    url(../Images/slide1.jpg);
  background-size: 100% 100%;
  margin: 0px;
}
.img3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
    url(../Images/a1.jpg);
  background-size: 100% 100%;
  margin: 0px;
}

.slider,
.slider ul,
.slider ul li {
  height: 710px;
  width: 100%;
  color: white;
  text-align: center;
  padding: 0px 0px;
}

.slider h2 {
  margin-top: 270px;
  font-weight: bold;
}

.slider span {
  color: #ff9900;
}

.slider a {
  padding: 10px 40px;
  margin-right: 10px;
}

.slider a.btn-half {
  background-color: #00cccc;
  color: #ffffff;
  font-size: 16px;
  transition: 0.5s ease-in;
}
.slider a.btn-full {
  background-color: #ff9900;
  color: #ffffff;
  font-size: 16px;
  transition: 0.5s ease-in;
}

.slider i {
  font-size: 35px;
  margin-right: 10px;
}

.slider a.btn-half:hover {
  background-color: #008080;
  color: #ffffff;
}

.slider a.btn-full:hover {
  background-color: #cc7a00;
  color: #ffffff;
}

.intro-area {
  position: relative;
  padding: 100px 0px;
  text-align: center;
}

.sub-heading {
  position: relative;
  margin-bottom: 75px;
}
.sub-heading:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -3%;
  width: 6%;
  height: 1px;
  background-color: deepskyblue;
  z-index: 1;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.sub-heading:hover:before {
  width: 20%;
  margin-left: -12px;
}

.sub-heading:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -12%;
  width: 24%;
  height: 1px;
  background-color: #e1e1e1;
}

.sub-heading p {
  color: #818181;
  display: inline-block;
  padding: 0px 0px 20px 20px;
  position: relative;
  line-height: 24px;
  letter-spacing: 0.025;
}

.intro-block {
  position: relative;
  background: #f7f7f7;
  margin: 50px 0px 0px;
  text-align: center;
  padding: 70px 25px 40px;
}

.intro-block:hover,
.intro-block.active {
  background: #0aabe1;
}

.intro-block:hover {
  transition: 0.6s ease;
  -webkit-transition: 0.6s ease;
  -moz-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  -ms-transition: 0.6s ease;
}

.intro-block .intro-icon {
  position: absolute;
  top: -31px;
  left: 50%;
  margin-left: -31px;
}

.intro-block .fa {
  width: 63px;
  height: 63px;
  font-size: 30px;
  color: #ffffff;
  line-height: 2;
  background: deepskyblue;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 10px #cceef9;
}
.intro-block:hover .fa,
.intro-block.active .fa {
  background-color: #ffffff;
  color: deepskyblue;
  box-shadow: 0px 0px 0px 10px deepskyblue;
}

.intro-block h3 {
  font-size: 18px;
  color: deepskyblue;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.intro-block p {
  color: #505050;
}

.intro-block:hover h3,
.intro-block:hover p {
  color: #f6f6f6;
}

.feature-area {
  background-size: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url(../Images/Database6.jpg);
  background-position: center;
  background-attachment: fixed;
}
.welcome-body {
  /*    position: relative;*/
  display: flex;
  width: 100%;
  height: 100vh;
  text-align: center;
  align-items: center;
  position: relative;
  position: relative;
  justify-content: center;
}
.welcome-body .video-container {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.title h2,
p,
.single-feature h3,
.title .sub-heading p {
  color: #ffffff;
}

.single-feature {
  position: relative;
  width: 325px;
  float: left;
  padding: 30px 0px;
  text-align: center;
  border-right: 1px solid #65c8e5;
  border-bottom: 1px solid #65c8e5;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
}

.feature-block:after {
  content: "";
  display: table;
}

.feature-block:after {
  clear: both;
}

.featured-icon {
  display: block;
  margin-bottom: 20px;
}

.single-feature i.fa {
  border: 2px solid #ffffff;
  padding: 15px;
  border-radius: 50%;
  font-size: 30px;
  background-color: #00a7dd;
  color: #ffffff;
  width: 64px;
  height: 64px;
}

.feature-block:hover .single-feature {
  border-color: #ffffff;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
}

.single-feature:hover .featured-icon .fa {
  border: 2px solid #00a7dd;
  background: #ffffff;
  color: #00a7dd;
}

.single-feature:nth-of-type(even) {
  border-right: none;
}

.single-feature:nth-last-child(2) {
  border-bottom: none;
}

.single-feature:last-child {
  border-bottom: none;
}

.feature-area {
  padding: 100px 0px;
}

.feature-mockup {
  bottom: -22px;
  position: relative;
}
.title .subheading p {
  color: #ffffff;
}

.more-feature-area .title h2 {
  color: #000000;
}
.more-feature-area .title .sub-heading p {
  color: #0c0c0c;
}

.more-feature-area {
  padding: 100px 0px;
}

.feature-list ul {
  list-style: none;
}

.feature-list li {
  position: relative;
  margin-bottom: 30px;
  padding-left: 80px;
}

.feature-list li:hover i {
  color: #ffffff;
  background-color: #00a7dd;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
}

.feature-icon {
  position: absolute;
  left: 0;
}

.feature-icon i {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  background-color: #ffffff;
  color: #00a7dd;
  border: 2px solid #00a7dd;
  line-height: 63px;
}

.feature-details h3 {
  color: #00a7dd;
  font-weight: bold;
  text-transform: uppercase;
}

.feature-details p {
  color: #616161;
  font-weight: 200;
}

.more-feature-area img {
  width: auto;
  height: 400px;
}

.testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url(../Images/arch1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 90px;
  padding-bottom: 90px;
  color: #ffffff;
  margin-top: -100px;
}

.testimonials .carousel-indicators {
  bottom: -60px;
}

.testimonials .sub-heading p {
  color: #ffffff;
}

.carousel-inner img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 2px solid #00a7dd;
  padding: 3px;
}

.testimonials .carousel-indicators li.active {
  background-color: #00a7dd;
}
.testimonials .carousel-indicators li {
  border-color: #00a7dd;
}

.team-area {
  padding: 100px 0px;
}
.team-area .sub-heading {
  margin-bottom: 100px;
}

.team-man {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: -50px;
  overflow: hidden;
  min-height: 100px;
  height: 100px;
  width: 100px;
  min-width: 100px;
  border: 5px solid #00a7dd;
  border-radius: 50%;
}

.team-man img {
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  border-radius: 50%;
  padding: 2px;
}

.team-block h3 {
  color: #00a7dd;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 70px;
  margin-bottom: 5px;
}

.team-block span {
  color: #8a8a5c;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 0.025em;
}

.team-block p {
  color: #2e2e1f;
  font-size: 14px;
  padding: 24px 5px 24px 5px;
  line-height: 24px;
}

.team-description {
  background-color: #f5f5f0;
}

.team-social-network {
  text-align: center;
  padding-bottom: 15px;
  margin-top: 50px;
}

.team-social-network a {
  margin: 0px 6px;
}
.team-social-network a i {
  height: 40px;
  width: 40px;
  background: #ffffff;
  text-align: center;
  color: #00a7dd;
  border-radius: 50%;
  border: 3px solid #66ccff;
  line-height: 30px;
}

.team-block {
  position: relative;
}

.team-block .team-description {
}

.team-block:hover .team-description {
  background-color: #00a7dd;
  color: #ffffff;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
}

.team-block:hover .team-title h3,
.team-block:hover .team-title span {
  color: #ffffff;
  transition: 0.4s ease-in;
  -webkit-transition: 0.4s ease-in;
  -moz-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  -ms-transition: 0.4s ease-in;
}

.team-block:hover .team-description p {
  color: #f9f9f9;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
}

.team-block:hover .team-social-network i {
  border-color: #ffffff;
  background-color: #00a7dd;
  color: #ffffff;
  transition: 0.6s ease;
  -webkit-transition: 0.6s ease;
  -moz-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  -ms-transition: 0.6s ease;
}

.download h2 {
  color: #ffffff;
  text-align: center;
}

.download .sub-heading p {
  color: #ffffff;
}

.download {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url(../Images/Database8.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-attachment: fixed;
}

.download .default-btn {
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 35px;
  margin: 12px;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
}

.download .default-btn:hover {
  background: #ffffff;
  color: #00a7dd;
}

.download .fa {
  margin-right: 10px;
}

.download-now {
  padding: 100px 0px;
}

.contact-area {
  padding: 100px 0px;
}

.divider {
  border-right: 1px solid #e9e9e9;
}

.contact-area h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.contact-area h4 {
  color: #3a3a3a;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 4px;
  letter-spacing: 0.025em;
}

.contact-area span {
  display: block;
  color: #3a3a3a;
  font-size: 12px;
  line-height: normal;
  letter-spacing: 0.025em;
}

.contact-area ul {
  margin-left: 10px 0px;
  padding: 10px 0px;
}

.contact-area ul li {
  overflow: hidden;
  margin-bottom: 25px;
}

.contact-area ul li:last-child {
  margin-bottom: 0;
}

.contact-address ul .fa {
  float: left;
  width: 25px;
  color: #00a7dd;
  font-size: 30px;
}

.contact-address ul li .address-phone {
  float: left;
  width: 200px;
  padding-left: 20px;
}

.contact-block {
  padding-left: 25px;
}

.contact-area .form-control,
.contact-area textarea {
  font-family: "Roboto", "san-serif";
  background-color: #fafdff;
  border: 1px solid #b3e0ff;
  padding: 10px 12px;
  color: #8a8a5c;
  height: 45px;
  font-weight: 400;
  border-radius: 3px;
}

.contact-area .form-group {
  margin-bottom: 30px;
}

.contact-area textarea {
  min-height: 115px;
}

.contact-area .default-btn {
  padding: 10px;
  font-weight: 600;
  border: 2px solid #00a7dd;
  background-color: #ccebff;
}

/* html{
	scroll-behavior: smooth;
} */

@media only screen and (max-width: 480px) {
  header {
    background-color: black;
    height: 30px;
    line-height: 10px;
    position: fixed;
    z-index: 1;
    width: 100%;
  }

  .logo img {
    height: 80px;
    line-height: 80px;
  }

  ul li {
    display: block;
    float: left;
  }
}
